
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
.hero-box,
footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.hero-box nav,
.hero-box .hero {
    width: 40%;
}

.hero-box nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.hero-box nav #logo {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
}
.hero-box nav #links ul {
    display: flex;
    gap: 20px;
}
.hero-box nav #links a,
.hero-box .hero .text p,
.hero-box .hero .text button {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-box nav #links li {
    list-style: none;
}
.hero-box nav #links a {
    text-decoration: none;
}

.hero-box .hero {
    flex: 1;
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.hero-box .hero .text {
    flex: 1;   
}
.hero-box .hero button {
    background-color: #3882F6;
    padding: 7px 30px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
}
.hero-box .hero .text p {
    margin-bottom: 20px;
}
.hero-box .hero .text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 20px;
}
.hero-box .hero img {
    flex: 1;
    width: 500px;
    max-height: 250px;
    height: auto;
    object-fit: cover;
}

